* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: #45badd;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('./robot.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
}

button {
    width: 20rem;
    height: 5rem;
    cursor: pointer;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    color: #fff;
    background: #ff3482;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem 2rem 1rem rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 15rem;
}

button:hover {
    filter: brightness(90%);
}

button:active {
    transform: scale(0.98);
}

button:disabled {
    cursor: default;
    filter: brightness(30%);
}


/* Media Query: Tablet or Smaller */
@media screen and (max-width: 1000px) {
    .container {
        background-size: cover;
        background-position: center center;
    }
}